# ---- Python ----
__pycache__/
**/__init__.py
# ---- Virtual environments ----
venv/
.venv/
.vscode/*
# ---- Datasets ----
data/*
data
data/har
data/gtsb
experiments/models/
experiments/logs/
experiments/outputs/
experiments/outputs_v1/
experiments/results/  
ploting/  
plots/

./gitignore