# ---- Python ----
__pycache__/
**/__init__.py
# ---- Virtual environments ----
venv/
.venv/
# ---- Datasets ----
data/*
data
data/har
data/gtsb
experiments/models/
experiments/logs/
experiments/outputs/
experiments/outputs_v1/
experiments/results_iid/    

./gitignore