# ---- Python ----
__pycache__/
**/__init__.py
# ---- Virtual environments ----
venv/
.venv/
.vscode/*
# ---- Datasets ----
data/*
data/
experiments/models/
experiments/logs/
experiments/outputs/
experiments/statistics/
experiments/results/  
ploting/  
plots/

./gitignore